@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #000;
}

.logo {
    height: 50px;
    margin-top: -1px;
    margin-left: 50px;
}

a {
    text-decoration: none;
    color: #F01D7F;
}


/* Text */

.text-pink {
    color: #F01D7F;
}

/* navbar */
.navbar {
    background-color: #000 !important;
}

.navbar-toggler {
    border-color: #F01D7F;
}

.nav-link {
    color: #fff;
    justify-content: space-between;
}

.navbar a {
    font-size: 12px;
    font-weight: 400;
    margin-left: 15px;
    margin-right: 50px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}

.navbar a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    background: none repeat scroll 0 0 transparent;
    height: 1px;
    width: 0;
    background: #F01D7F;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.navbar a:hover::after {
    width: 100%;
    left: 0;
}

.navbar a:hover {
    color: #F01D7F;
}

.navbar-toggler {
    color: #F01D7F;
}

.heading {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    margin-top: 60px;
}



/* Reviews/Homepage */

.container {
    margin: 0px auto;
}

.review-section {
    margin: 10px auto;
}

.featured-review {
    width: 100%;
    margin: 10px auto;
    justify-content: center;
}

.review-collection-card {
    border: 1px solid #28282B;
    background-color: #000 !important;
}

.overlay-text {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.card-img {
    opacity: 0.2;
    margin: 0px auto;
}

.card-img-overlay {
    position: relative;
}

.review-set {
    margin-top: 30px;
    height: 70vh;
}


#featured-review-header {
    font-weight: 600;
    color: #fff;
}

.card-title {
    text-align: left;
    font-size: 16px;
}

.rating-container {
    text-align: end;
}

.d-inline {
    font-size: 16px;
}

.feat-review-img {
    height: 80%;
    object-fit: contain;

}

.feat-review-btn {
    text-align: center;
}

.review-img {
    object-fit: contain;
}


.film-title {
    font-size: 32px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    margin-left: 5px;
    margin-right: 50px;
    color: #F01D7F;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 5px;
    position: relative;
}

.film-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    background: none repeat scroll 0 0 transparent;
    height: 1px;
    width: 0;
    background: #F01D7F;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.film-title:hover::after {
    width: 100%;
    left: 0;
}

.film-title:hover {
    color: #Fff;
}

.film-snippet,
.card-text {
    font-weight: 400;
    text-align: right;
    color: #fff;
    margin: 20px 2px 20px 10px;
    font-style: italic;
}

.card-title {
    font-size: 24px;
    color: #fff;
}

/* Modal */

.modal-content {
    background-color: #28282B;
    border: 1px solid #F01D7F;
}

.modal-header {
    background-color: #F01D7F;
}

/* review page - each single review */
.review-card {
    width: 90%;
    margin: 50px auto 30px;
    background-color: #000;
    color: #Fff;
}

.review-card-img {
    margin-bottom: 30px;
    width: 100%;

}

.review-title {
    color: #F01D7F;
    font-size: 24px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
}

.review-description {
    margin: 30px 10px;
}

.reviewer-text {
    display: block;
}

.reviewer-text::first-letter {
    text-transform: capitalize;
}

/* Publish Review Page */

.add-edit-review-form {
    width: 80%;
}

.add-edit-review-card {
    width: 80%;
}

.rating-field {
    width: 100%;
    background-color: #000 !important;
    margin: 10px auto;
    border: 1px solid #F01D7F;
    border-radius: 2px;
    padding: 2px;
}

.rating-field input {
    background-color: #fff !important;
    border-radius: 2px;
    margin: 5px;
}


/* Buttons */

.button,
.card-btn {
    width: 40%;
    margin: 20px auto;
    border-radius: 15px;
    height: 30px;
    font-size: 14px;
}

.card-btn {
    width: 80%;
    margin: 10px auto;
}

.delete-btn {
    width: 40%;
    margin: 20px auto;
    border-radius: 15px;
    height: 30px;
    font-size: 14px;
    background-color: #28282B;
    border: 1px solid #F01D7F;
    color: #F01D7F;
}

.pri-btn {
    background-color: #F01D7F;
    border: 1px solid #fff;
    color: #fff;
}

.pri-btn a {
    color: #fff;
}

.pri-btn a:hover {
    color: #F01D7F;
}


.pri-btn:hover {
    background-color: #fff;
    border: 1px solid #F01D7F;
    color: #F01D7F;
}

.add-edit-sec-btn,
.sec-btn {
    background-color: #28282B;
    border: 1px solid #F01D7F;
    color: #F01D7F;
}

.add-edit-sec-btn {
    width: 100%;
}

.sec-btn:hover {
    background-color: #28282B;
    border: 1px solid #fff;
    color: #fff;
}

.btn:hover {
    background-color: #fff;
    color: #F01D7F;
}

/* Register - Login Page - Profile Page */

.profile-img {
    margin: 10px auto;
    text-align: center;
}

.profile-info {
    margin: 10px auto;
    padding: 10px;
}

.rounded-circle {
    border: 1px solid;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 30px;
}

.registered-text,
.logged-in-text {
    color: #F01D7F;
}

.registered-text:hover,
.logged-in-text:hover {
    color: #fff;
}

.register-login-card {
    margin: 30px auto;
    background-color: #000 !important;
    border: 1px solid none;
}

.register-login-card button {
    width: 100%;
}

label {
    padding: 10px;
}

.register-login-card input {
    width: 100%;
    margin: 0 auto;
    background-color: #000;
    border-bottom: 2px solid #F01D7F;
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
}

.register-login-card input:hover {
    border-bottom: 3px solid #Fff;
}

form {
    width: 100%;
}

.profile-page {
    width: 100%;
}

/* Flashes */

.flashes h4 {
    line-height: 2;
    background-color: #F01D7F;
    color: #fff;
}


.input-field {
    width: 100%;
}

.search-button-container {
    text-align: center;
    margin-bottom: 10px;
}

.search-bar-container {
    text-align: center;
    margin-bottom: 10px;
}

.search-container {
    width: 90%;
    margin: 50px auto;
    height: 50px;
}

.search-bar {
    width: 100%;
    text-align: center;
    background-color: #28282B;
    border: 1px solid #F01D7F;
    border-radius: 15px;
    height: 30px;
    padding: 10px 13px 12px 30px;
    margin: 20px auto;
}

.search-bar:hover {
    border: 1px solid #fff;
}

/* Google material icons */

.icon {
    color: #F01D7F;
    font-size: 24px;
    vertical-align: bottom;
    margin-right: 5px;
}

.icon-header {
    margin-right: 5px;
    margin-top: 6px;
}

/* Media Queries */

/* Mobile */

@media only screen and (max-width: 320px) {

    .review-intro-text {
        margin-bottom: 50px;
    }

    .review-title {
        font-size: 1.2rem;
    }

    .review-description {
        font-size: 16px;
    }

    .review-card {
        width: 95%;
    }

    form {
        width: 95%;
    }

    .logo {
        margin-left: 1px;
    }

    .add-edit-review-form {
        width: 95%;
    }

    .add-edit-review-card {
        width: 95%;
    }

    .search-container {
        width: 100%;
        height: 20vh;
    }
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
    .search-container {
        height: 20vh;
    }

    .review-card {
        width: 95%;
    }
}