body {
    background-color: #28282B;
}

.logo {
    height: 60px;
    margin-top: -1px;
}

/* navbar */
.navbar {
    background-color: #28282B !important;
}

.navbar button {
    color: #fff;
    background-color: #28282B;
}

.nav-link {
    color: #fff;
    background-color: #28282B;
}

.register-card {
    width: 50%;
    margin: 150px auto;
}