{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block nav_profile %}active{% endblock %}
{% block content %}

<h1 class="profile-header">{{ username }}'s<br> Profile</h1>
<div class="row text-center">
    <div class="col-lg-3 col-md-4 col-sm-12 profile-img">
        <img src="{{ user.user_img }}" alt="{{ user.user_img }}" class="rounded-circle">
    </div>
    <div class="col-lg-9 col-md-8 col-sm-12 mt-5 profile-info">
        <p class="text-pink">First Name: <span class="text-white">{{user.first_name}} </span>Last Name: <span
                class="text-white">{{user.last_name}}</span></p>
        <p class="text-pink"> Favorite Film: <span class="text-white">{{ user.fav_film }}</span></p>
        <p class="text-pink"> A little bit about me: <span class="text-white">{{ user.author_bio }}</span></p>
        <a href="{{ url_for('authentication.update_profile', username=username)}}" class="btn btn-primary">Update
            Profile</a>
    </div>
</div>
<h2 class="text-pink text-center mt-5 mb-5">{{ user.username }}'s Reviews</h2>
<!-- Review Collection -->
<div class="review-collection row">
    {% for review in reviews %}
    {% if session.user|lower == review.created_by|lower %}
    <div class=" col-sm-12 col-md-6 col-lg-3 col-xl-3 mb-5">
        <div class="card h-100">
            <img src="{{ review.review_image }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title">{{ review.film_name }}</h3>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-white">{{ review.rating }}<span
                        class="material-symbols-outlined material-icons icon">
                        star
                    </span></li>
                <li class="list-group-item text-white">published by: {{ review.created_by}}</li>
            </ul>
            <div class="button-container">
                <h4><a href="{{ url_for('reviews.get_review', review_id=review._id)}}" class="btn btn-primary mt-3">Full
                        Review</a></h4>
                <h4><a href="{{ url_for('reviews.edit_review', review_id=review._id)}}"
                        class="btn btn-secondary">Edit</a></h4>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>

{% endblock %}