{% extends "base.html" %}
{% block content %}

<h1 class="text-center text-pink">{{ username }}'s Profile</h1>

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="col-6">
            <img src="{{ user.user_img }}" alt="{{ user.user_img }}" class="profile-img">
        </div>
        <div class="col-6">
            <p class="text-white">Hey my name is <span class="text-pink">{{ user.first_name }}
                    {{ user.last_name }}</span>.<br>
                My Favourite film at the moment is <span class="text-pink">{{ user.fav_film|capitalize }}</span>
            </p>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">

    </div>
</div>
{% endblock %}