{% extends "base.html" %}
{% block title %}Update Profile{% endblock %}
{% block content %}

<h1 class="page-header"><span class="text-white">Update or Delete</span><br> {{ username }}'s Profile</h1>
<div class="row">
    <div
        class="register-login-card text-bg-dark mb-3 col-sm-12 col-md-8 col-lg-6 d-flex align-items-center justify-content-center">
        <form id="form" method="POST" enctype="multipart/form-data" class="add-edit-review-form"
            action="{{ url_for('authentication.update_profile', username=username) }}">
            <!--Username input -->
            <div class="row mb-4">
                <div class="col">
                    <div class="input-control">
                        <label for="username"><span class="material-symbols-outlined material-icons icon">
                                person
                            </span>Username</label>
                        <input id="username" name="username" type="text" class="text-white" value="{{user.username}}">
                        <div class="error"></div>
                    </div>
                </div>
            </div>
            <!-- Password input -->
            <div class="input-control">
                <label for="password"><span class="material-symbols-outlined material-icons icon">
                        lock
                    </span>Password</label>
                <input id="password" name="password" type="password" class="text-white" value="{{user.password}}">
                <div class="error"></div>
            </div>
            <!-- First Name input -->
            <div class="col input-control">
                <label class="mb-3 mt-3" for="first_name"><span class="material-symbols-outlined material-icons icon">
                        badge
                    </span>First Name</label>
                <input type="text" id="first_name" name="first_name" class="text-white" value="{{user.first_name}}">
                <div class="error"></div>
            </div>
            <!-- Last Name input -->
            <div class="col input-control">
                <label class="mb-3 mt-3" for="last_name"><span class="material-symbols-outlined material-icons icon">
                        badge
                    </span>Last Name</label>
                <input type="text" id="last_name" name="last_name" class="text-white" value="{{user.last_name}}">
                <div class="error"></div>
            </div>
            <!-- Favorite film input -->
            <div class="col mb-4 input-control">
                <label class="mb-3 mt-3" for="fav_film"><span class="material-symbols-outlined material-icons icon">
                        stars
                    </span>Favorite Film</label>
                <input type="text" id="fav_film" name="fav_film" class="text-white" value="{{user.fav_film}}">
                <div class="error"></div>
            </div>
            <div class="mb-2 input-control">
                <label for="user_img" class="mb-2 mt-2"><span class="material-symbols-outlined material-icons icon">
                        upload
                    </span>Profile Image</label>
                <input type="file" id="user_img" name="user_img" class="text-white img_upload" required>
                <div class="helper">Only image files(jpg, JPG, png PNG) will be accepted</div>
            </div>
            <!-- Submit button -->
            <div class="col text-center">
                <div class="button-container">
                    <button type="submit" class="btn btn-primary mb-4 mt-4">Save Changes</button>
                    <button type="button" class="btn btn-danger mb-4 mt-4" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">
                        Delete
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-white">
                <h5 class="modal-title" id="staticBackdropLabel">Delete Profile</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-white">
                Are you sure you want to delete your profile?
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                <a href="{{ url_for('authentication.delete_profile', username=username)}}"
                    class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
{% block scripts %}
<script defer src="{{ url_for('static', filename='js/scripts.js') }}"></script>
{% endblock %}

{% endblock %}