{% extends "base.html" %}
{% block title %}Add Categories{% endblock %}
{% block content %}
<h1 class="page-header">Add Category</h1>

<div class="register-login-card text-bg-dark mb-3 col-8 d-flex align-items-center justify-content-center">
    <form class="review-form" method="POST" enctype="multipart/form-data" name="add_category"
        action="{{ url_for('categories.add_category')}}">
        <!-- Category Name -->
        <div class="row">
            <div class="mb-2 mt-3">
                <label for="category_name" class="form-label mb-2 mt-2"><span
                        class="material-symbols-outlined material-icons icon">
                        movie
                    </span>Category Name</label>
                <input type="text" class="text-white" id="category_name" name="category_name" minlength="3"
                    maxlength="25" required>
            </div>
            <div class="row">
                <div class="">
                    <input class="validate" type="file" id="category_image" name="category_image" required>
                </div>
            </div>
            <div class="button-container">
                <!-- Submit Category Button -->
                <button type="submit" class="btn btn-primary mb-2 mt-2">Add Category<i
                        class="fa-solid fa-plus icon-btn"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}