{% extends "base.html" %}
{% block title %}Categories{% endblock %}
{% block nav_categories %}active{% endblock %}
{% block content %}

<h1 class="page-header">Categories</h1>

{% if session.user|lower == "admin"|lower %}
<div class="row text-center">
    <div class="col-12 mt-5">
        <a href="{{ url_for('categories.add_category') }}" class="btn btn-primary">
            Add Category
        </a>
    </div>
</div>
{% endif %}

<div class="row g-4 mb-5 mt-5">
    {% for category in categories %}
    <div class="mx-auto card category-card text-white bg-dark col-sm-12 col-md-6 col-lg-4">
        <div class="card-header"><h5 class="card-title">{{category.category_name}}</h5></div>
        <div class="card-body">
            <img src="{{ category.category_image }}" class="card-img-top" alt="{{category.category_name}}">
        </div>
        <div class="card-footer">
            {% if session.user|lower == "admin"|lower %}
            <div class="text-center">
                <a href="{{ url_for('categories.edit_category', category_id=category._id)}}"
                    class="btn btn-secondary mb-2">Edit</a>
                <a href="{{ url_for('categories.delete_category', category_id=category._id)}}"
                    class="btn btn-danger mb-2">Delete</a>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}