{% extends "base.html" %}
{% block content %}
<h3 class="text-white text-center">Add Category</h3>


<div class="register-card card text-bg-dark mb-3 col-8 d-flex align-items-center justify-content-center">
    <form class="review-form" method="POST" action="{{ url_for('add_category')}}">
        <!-- Category Name -->
        <div class="row">
            <div class="mb-2 mt-3">
                <i class="fa-solid fa-clapperboard"></i>
                <label for="category_name" class="form-label mb-2 mt-2">Category Name</label>
                <input type="text" class="form-control" id="category_name" name="category_name" min-length="3"
                    maxlength="25" required>
            </div>
        </div>
        <!-- Submit Review Button -->
        <button type="submit" class="btn btn-primary mb-2 mt-2">Add Category<i
                class="fa-solid fa-plus icon-btn"></i></button>
    </form>
</div>

{% endblock %}