{% extends "base.html" %}
{% block content %}
<h3 class="text-pink text-center">Edit Review</h3>

<div
    class="register-login-card add-edit-review-card card text-bg-dark mb-3 col-sm-12 col-md-8 col-lg-6 d-flex align-items-center justify-content-center">
    <form class="add-edit-review-form" method="POST" enctype="multipart/form-data"
        action="{{ url_for('reviews.edit_review', review_id=review._id)}}">
        <!-- Film Name -->
        <div class="row">
            <div class="mb-2 mt-3">
                <label for="film_name" class="form-label mb-2 mt-2"><span
                        class="material-symbols-outlined material-icons icon">
                        movie
                    </span>Film Name</label>
                <input type="text" class="form-control" id="film_name" name="film_name" value="{{ review.film_name}}"
                    min-length="5" maxlength="50" required>
            </div>
        </div>
        <div class="mb-2 mt-3">
            <label for="review_image" class="form-label mb-2 mt-2"><span
                    class="material-symbols-outlined material-icons icon">
                    upload
                </span>Review Image</label>
            <input class="form-control validate" type="file" id="review_image" name="review_image" value="file"
                required>
        </div>
        <!-- Review Title -->
        <div class="row">
            <div class="mb-2">
                <label for="review_title" class="form-label mb-2 mt-2"><span
                        class="material-symbols-outlined material-icons icon">
                        title
                    </span>Review Title</label>
                <input type="text" class="form-control" id="review_title" name="review_title"
                    value="{{ review.review_title }}" min-length="5" maxlength="50" required>
            </div>
        </div>
        <!-- Category selection -->
        <div class="row">
            <div class="mb-3">
                <label for="category_name" class=" mb-2 mt-2"><span
                        class="material-symbols-outlined material-icons icon">
                        category
                    </span>Select Category</label>
                <select id="category_name" name="category_name" class="form-select form-select-sm"
                    aria-label=".form-select-sm example" required>
                    <option selected>Choose Genre</option>
                    {% for category in categories %}
                    {% if category.category_name == review.category_name %}
                    <option value="{{ category.catgeory_name }}" selected>{{ category.category_name }}</option>
                    {% else %}
                    <option value="{{ category.catgeory_name }}">{{ category.category_name }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <!-- Review Description -->
        <div class="row">
            <div class="mb-3">
                <label for="review_description" class="form-label mb-2 mt-2"><span
                        class="material-symbols-outlined material-icons icon">
                        description
                    </span>Review Content</label>
                <textarea type="text" class="form-control" id="review_description" name="review_description"
                    min-length="5" maxlength="1000" rows="15" required>{{- review.review_description -}}
                </textarea>
            </div>
            <!-- Review Rating -->
            <label for="rating" name="rating" class="form-label">Rating out of 5</label>
            <input type="range" class="form-range" min="1" max="5" id="rating" name="rating">
            <!-- Cancel Changes Button -->
            <div class="row">
                <div class="col">
                    <a href="{{ url_for('reviews.get_reviews') }}" type="submit"
                        class=" text-center add-edit-sec-btn sec-btn button mb-5 mt-5">Cancel Changes</a>
                </div>
                <!-- Submit Review Button -->
                <div class="col">
                    <button type="submit" class="pri-btn button mb-5 mt-5">Edit Review</button>
                </div>
            </div>
    </form>
</div>

{% endblock %}