{% extends "base.html" %}
{% block content %}
<h3 class="text-white text-center">Edit Review</h3>

<div class="register-card card text-bg-dark mb-3 col-8 d-flex align-items-center justify-content-center">
    <form class="review-form" method="POST" action="{{ url_for('reviews.edit_review', review_id=review._id)}}">
        <!-- Film Name -->
        <div class="row">
            <div class="mb-2 mt-3">
                <i class="fa-solid fa-clapperboard"></i>
                <label for="film_name" class="form-label mb-2 mt-2">Film Name</label>
                <input type="text" class="form-control" id="film_name" name="film_name" value="{{ review.film_name}}"
                    min-length="5" maxlength="50" required>
            </div>
        </div>
        <div class="">
            <input class="form-control validate" type="file" id="review_image" name="review_image" value="file"
                required>
        </div>
        <!-- Review Title -->
        <div class="row">
            <div class="mb-2">
                <i class="fa-solid fa-heading"></i>
                <label for="review_title" class="form-label mb-2 mt-2">Review Title</label>
                <input type="text" class="form-control" id="review_title" name="review_title"
                    value="{{ review.review_title }}" min-length="5" maxlength="50" required>
            </div>
        </div>
        <!-- Category selection -->
        <div class="row">
            <div class="mb-3">
                <i class="fa-solid fa-film"></i>
                <label for="category_name" class=" mb-2 mt-2">Select Category</label>
                <select id="category_name" name="category_name" class="form-select form-select-sm"
                    aria-label=".form-select-sm example" required>
                    <option selected>Choose Genre</option>
                    {% for category in categories %}
                    {% if category.category_name == review.category_name %}
                    <option value="{{ category.catgeory_name }}" selected>{{ category.category_name }}</option>
                    {% else %}
                    <option value="{{ category.catgeory_name }}">{{ category.category_name }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <!-- Review Description -->
        <div class="row">
            <div class="mb-3">
                <i class="fa-solid fa-quote-left"></i>
                <label for="review_description" class="form-label mb-2 mt-2">Review Content</label>
                <textarea type="text" class="form-control" id="review_description" name="review_description"
                    min-length="5" maxlength="1000" rows="15" required>{{- review.review_description -}}
                </textarea>
            </div>
            <!-- Cancel Changes Button -->
            <div class="row">
                <div class="col">
                    <a href="{{ url_for('reviews.get_reviews') }}" type="submit"
                        class="btn btn-secondary mb-2 mt-2">Cancel <i class="fa-solid fa-xmark icon-btn"></i></a>
                </div>
                <!-- Submit Review Button -->
                <div class="col">
                    <button type="submit" class="btn btn-primary mb-2 mt-2">Edit Review <i
                            class="fa-solid fa-pen-to-square icon-btn"></i></button>
                </div>
            </div>
    </form>
</div>

{% endblock %}