{% extends "base.html" %}
{% block title %}Reviews{% endblock %}
{% block nav_reviews %}active{% endblock %}
{% block content %}

<h3 class="text-center text-pink">Reviews</h3>
<div class="search-container">
    <div class="row">
        <div class="search-bar-container col-md-12 col-lg-6 col-sm-12">
            <form action=" {{ url_for('reviews.search') }}" method="POST">
                <input type="text" name="query" minlength="3" class="validate search-bar" placeholder="Search Reviews"
                    required>
            </form>
        </div>
        <div class="col-md-12 col-lg-6 col-sm-12 search-button-container">
            <button class="pri-btn button mt-1" type="submit">
                Search
            </button>
            <button class="sec-btn button">
                <a href="{{ url_for('reviews.get_reviews') }}">Reset</a>
            </button>
        </div>
    </div>
</div>
<!-- Top Rated and Lowest rated reviews section -->
<div class="container">
    <div class="row">
        <!-- Top Rated section -->

        <div class="col-lg-6 col-md-6 col-sm-12">
            <h3 class="text-pink text-center">Top Performers</h3>
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{ url_for('static', filename='images/site-images/top-rated-image.jpg')}}"
                            class="d-block" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Top Rated Films</h5>
                        </div>
                    </div>
                    {% for review in reviews %}
                    <div class="carousel-item">
                        <img src="{{ review.review_image }}" class="d-block alt=" ...">
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <!-- Lowest Rated section -->
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h3 class="text-pink text-center">Let Downs</h3>
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="..." class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="..." class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="..." class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}