{% extends "base.html" %}
{% block title %}{{review.created_by}}'s Review of {{review.film_name}}{% endblock %}
{% block content %}
<div class="row">
    <h1 class="page-header"><span class="text-white">{{ review.created_by }}'s</span> review of<br>
        {{ review.film_name }}
    </h1>
    <div class="card mb-3 review-card">
        <div class="row g-0">
            <div class=" col-sm-12 col-md-12 col-lg-6">
                <a href="/get_reviews/{{ review._id }}">
                    <img src="{{ review.review_image }}" alt="{{ review.film_name }}"
                        class="img-fluid card-img-top review-card-img">
                </a>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="card-body">
                    <h1 class="text-center review-title">{{ review.film_name}}<br></h1>
                    <h2>{{ review.rating }} <span class="material-symbols-outlined material-icons icon">
                            star
                        </span></h2>
                    <h5 class="card-title review-title">{{ review.review_title}}</h5>
                    <p class="card-text review-intro-text">Author: {{ review.created_by }}</p>
                    <p>Publish Date: {{ review.publish_date }}</p>
                </div>
            </div>
        </div>
        <div class=" col-12">
            <p class="card-text review-description">{{ review.review_description }}</p>
            <p class="text-pink">Reviewed by: {{ review.created_by }}</p>
        </div>
    </div>
</div>


{% endblock %}