{% extends "base.html" %}
{% block content %}

<div class="row">
    <h3 class="text-center text-white ">Reviews</h3>
    <div class="row search-container mb-3 col-8 d-flex align-items-center justify-content-center">
        <form action="{{ url_for('reviews.search') }}" method="POST" class="col">
            <div class="row">
                <div class="input-field">
                    <i class="fas fa-search prefix"></i>
                    <input type="text" name="query" minlength="3" class="validate search-bar"
                        placeholder="Search Reviews" required>
                </div>
                <div class="row button-container">
                    <div class="col-sm-12 col-md-6">
                        <button class="pri-btn button" type="submit">
                            Search
                        </button>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <button class="sec-btn button">
                            <a href="{{ url_for('reviews.get_reviews') }}">Reset</a>
                        </button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>


<div>
    {% for review in reviews %}
    <div class="card mb-3 text-bg-dark" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <a href="/get_reviews/{{ review._id }}">
                    <img src="{{ review.review_image }}" alt="{{ review.film_name }}" class="img-fluid card-img-top">
                </a>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3>{{ review.rating }}/5</h3>
                    <h5 class="card-title">{{ review.film_name}}<br>{{ review.review_title}}</h5>
                    <h2> <a href="{{ url_for('reviews.get_review', review_id=review._id)}}"
                            class="text-dark">{{ review.film_name }}</a></h2>
                    <p class=" card-text"><small class="text-white">Author:
                            {{ review.created_by }}</small></p>
                    {% if session.user|lower == review.created_by|lower %}
                    <a href="{{ url_for('reviews.edit_review', review_id=review._id)}}"
                        class="btn btn-secondary btn-sm">Edit<i class="fa-solid fa-pen-to-square icon-btn"></i></a>
                    <a href="{{ url_for('reviews.delete_review', review_id=review._id)}}"
                        class="btn btn-secondary btn-sm">Delete<i class="fa-solid fa-pen-to-square icon-btn"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}