{% extends "base.html" %}
{% block content %}

<h3 class="text-center text-white ">Reviews</h3>
<div class="search-container">
    <div class="row">
        <form action=" {{ url_for('reviews.search') }}" method="POST" class="col-md-6 col-lg-6 col-sm-12">
            <span class="material-symbols-outlined material-icons">
                search
            </span>
            <input type="text" name="query" minlength="3" class="validate search-bar" placeholder="Search Reviews"
                required>
        </form>
        <div class="col-md-6 col-lg-6 col-sm-12 search-button-container">
            <button class="pri-btn button" type="submit">
                Search
            </button>
            <button class="sec-btn button">
                <a href="{{ url_for('reviews.get_reviews') }}">Reset</a>
            </button>
        </div>
    </div>
</div>
<!-- Featured review section -->
<div class="featured-review">
    {% for review in reviews|reverse %}
    {% if loop.first %}
    <div class="card mb-3 text-bg-dark">
        <div class="row g-0">
            <div class="col-md-6">
                <a href="{{ url_for('reviews.get_review', review_id=review._id)}}">
                    <img src="{{ review.review_image }}" alt="{{ review.film_name }}" class="img-fluid card-img-top">
                </a>
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h3 id="featured-review-header"><span class="material-symbols-outlined material-icons">
                            new_releases
                        </span><br>Featured Review</h3>
                    <h3><a href="{{ url_for('reviews.get_review', review_id=review._id)}}"
                            class="film-title">{{ review.film_name }}</a>
                    </h3>
                    <h5 class="film-snippet">"{{ review.review_title}}"</h5>
                    <h4>{{ review.rating }}<span class="material-symbols-outlined material-icons">
                            star
                        </span></h4>
                    <p class=" card-text"><small class="text-white">Author:
                            {{ review.created_by }}</small></p>
                    <button class="pri-btn button text-white">
                        <a href="{{ url_for('reviews.get_review', review_id=review._id)}}">Full Review</a>
                    </button>
                    {% if session.user|lower == review.created_by|lower %}
                    <a href="{{ url_for('reviews.edit_review', review_id=review._id)}}"
                        class="btn btn-secondary btn-sm">Edit<i class="fa-solid fa-pen-to-square icon-btn"></i></a>
                    <a href="{{ url_for('reviews.delete_review', review_id=review._id)}}"
                        class="btn btn-secondary btn-sm">Delete<i class="fa-solid fa-pen-to-square icon-btn"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
<hr>
<div class="row row-cols-1 row-cols-md-4 g-4">
    {% for review in reviews %}
    <div class="col">
        <div class="card h-100 text-bg-dark">
            <img src="{{ review.review_image }}" class="card-img-top" alt="{{ review.review_image }}">
            <div class="card-body">
                <h5 class="card-title">{{ review.film_name }}</h5>
                <p class="card-text">{{ review.review_title }}</p>
            </div>
            <div class="rating-container">
                <p>{{ review.rating }}<span class="material-symbols-outlined material-icons">
                        star
                    </span></p>
            </div>
            <div class="card-footer text-center">
                <button class="pri-btn button card-btn text-white">
                    <a href="{{ url_for('reviews.get_review', review_id=review._id)}}">Full Review</a>
                </button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>






{% endblock %}